*{
	margin:0;
	padding:0;
}
.container{
	height:410vh;
	width:auto;
	background-image:url(resources/pagebg.jpg);
	background-color:ghostwhite;
	background-position:center;
	background-size: cover;
	box-sizing:content-box;
	position:relative;
	justify-content:center;
	align-self:center;
	padding-left:2%;
	padding-right:2%;
}
.navbar{
	width:100%;
	height:15vh;
	margin:auto;
	display:flex;
	align-items:center;
}

.head{
	color: black;
	font-size:22;
}
nav{
	flex: 1;
	padding-left:60px; 
	font-size:20;
}
nav ul li{

	display:inline-block;
	list-style: none;
	margin:0px 20px;

}
nav ul li a{
	color: #000;
	background:#fff;
	text-decoration: none;
	font-weight:500;
	letter-spacing:1px;
	padding: 2px 15px;
	border-radius:20px;
	transition:0.3s;
	transition-property:background;
	font-size: 25px;
	
}

.content{
	color:black;
	font-size:25;
	text-align:left;
}
.eeebud{
	
	margin-left:2px;
	margin-bottom:2px;
	height:250px;
	width:280px;
	font-size:25;
	
}
.vision{
	color:black;
	font-size:25;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
}
.sub{
	font-size:25;
	color: black;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
}
.top{
	background-image:url(resources/rvce.png);
	height:185px;
	width:100%;
	justify-content:center;
	display:flex;
	background-size:cover;
}
nav{
	flex: 1;
	padding-left:60px; 
	font-size:24;

}
nav ol li{
	list-style:h;
	margin:0px 20px;

}
nav ol li a{
	color:darkred;
	text-decoration:none;
}
.useful{
	font-size:24;
	margin-top:10px;
	margin-bottom:10px;
}
.links{
	width:auto;
	height:100px;
	box-sizing:content-box;
}
.marq{
	width:100%;
	height:20px;
	background-color:black;
	color:white;
}
.move{
	color: whitesmoke;
}